{{ item.search_id.destination.getName() }}, Отель {{ item.hotel.name|raw }}
{{ item.search_id.getAdults() }} взрослых на {{ 'ночь'|plural(item.duration) }} за {{ item.price|number_format() }}р
Вылет из Казани {{ item.date|date("d/m/Y") }}
{{ item.link.getLink() }}